.container{
	background: #94ba84;
	box-sizing: border-box;
	width: 780px;
	height: 400px;
	margin-left: 25px;
	margin-top: 25px;
	position: absolute;
}

.field{
	border: 4px solid #ffffff;
	box-sizing: border-box;
	height: 360px;
	width: 730px;
	margin: 20px;
	position: relative;
}



.left-goal{
	border: 4px solid #ffffff;
	box-sizing: border-box;
	display: inline-block;
	height: 140px;
	width: 70px;
	margin-left: -4px;
	position: relative;
	top: 100px;
}

.right-goal{
	border: 4px solid #ffffff;
	box-sizing: border-box;
	display: inline-block;
	height: 140px;
	width: 70px;
	margin-left: 585px;
	position: absolute;
	top: 100px;	
}

.midfield{
	border: 4px solid #ffffff;
	box-sizing: border-box;
	border-radius: 100%;
	display: inline-block;
	height: 140px;
	width: 140px;
	margin-left: 200px;	
	position: relative;
	top: 100px;	

}

.first-ball{
	background: #F0EAEA;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	position: absolute;
	left: 50px;
	top: 104.2px;
}

.second-ball{
	background: #F0EAEA;
	border: 2px solid #ffffff;
	border-radius: 100%;
	box-sizing: border-box;
	left: 340px;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 40px;
}


.third-ball{
	background: #F0EAEA;
	border: 2px solid #ffffff;
	border-radius: 100%;
	box-sizing: border-box;
	left: 620px;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 210px;
}